* {
  font-family: Roobert, sans-serif;
}

.body {
  margin: 0;
}

:root {
  --secondary-theme-color: rgba(255, 255, 255, 0.5);
  --background-theme: #000;
}

@font-face {
  font-family: Roobert;
  src: url(../font/Roobert-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Roobert;
  src: url(../font/Roobert-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Roobert;
  src: url(../font/Roobert-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Roobert;
  src: url(../font/Roobert-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: Roobert;
  src: url(../font/Roobert-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Roobert;
  src: url(../font/Roobert-Heavy.ttf);
  font-weight: 800;
}
.footer {
  margin-top: 3rem;
}
.footer__container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  color: black;
  padding: 0 1.5rem;
  max-width: 720px;
  margin: auto;
}
.footer__section-head {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}
.footer__section-head-head-copy {
  margin: 0;
  color: rgba(0, 0, 0, 0.47);
}
.footer__section-nav-list-container {
  padding: 0;
}
.footer__section-nav-list-title {
  margin: 0;
  font-weight: 400;
}
.footer__section-nav-lista {
  gap: 2.7rem;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer__section-nav-lits-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.footer__section-nav-sublist {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  height: 0;
  padding-top: 1.5rem;
  overflow: hidden;
  cursor: none;
}
.footer__section-nav-list-container:hover > .footer__section-nav-sublist {
  height: auto;
  cursor: auto;
}
.footer__section-nav-sublits-item-container {
  text-decoration: none;
  color: black;
  list-style: none;
  cursor: pointer;
}
.footer__section-network-container {
  display: flex;
  gap: 0.5rem;
}
.footer__section-network-img {
  opacity: 0.4;
}
.footer__section-network-img:hover {
  opacity: 1;
}
.footer__section-terms {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  align-items: flex-end;
}
.footer__section-terms-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.footer__section-terms-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-decoration: none;
  color: black;
}
.footer__section-updates {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.footer__section-updates-about {
  font-size: 1.3rem;
  font-weight: bold;
}
.footer__section-updates-form {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  gap: 0.5rem;
  border: 0.01rem solid #d4d4d4;
  height: 8.5rem;
  font-weight: 400;
}
.footer__section-updates-form-button {
  background-color: black;
  color: white;
  border: none;
  height: 100%;
  font-size: 1rem;
}
.footer__section-updates-form-button:focus {
  background-color: #30e87a;
}
.footer__section-updates-form-input {
  text-align: center;
  height: 100%;
  border: 0.01rem solid black;
  font-size: 1rem;
}
.footer__section-about {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footer__section-about-title {
  margin: 0;
  margin-top: -2.4rem;
  color: rgba(0, 0, 0, 0.47);
}
.footer__section-about-scroll-img-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  text-decoration: none;
  justify-content: end;
}
.footer__section-about-scroll-img-about {
  color: rgba(0, 0, 0, 0.47);
}
.footer__section-about-scroll-img {
  opacity: 0.4;
}
.footer__section-about-scroll-img-container:hover > .footer__section-about-scroll-img {
  opacity: 1;
}
.footer__section-about-scroll-img-container:hover > .footer__section-about-scroll-img-about {
  color: black;
}

@media (min-width: 480px) {
  .footer__container {
    padding: 0 3rem;
  }
  .footer__section-updates {
    align-items: center;
  }
  .footer__section-updates-form {
    flex-direction: row;
    justify-content: space-between;
    height: 3.5rem;
  }
  .footer__section-updates-form-button {
    width: 28%;
  }
  .footer__section-updates-form-input {
    border: none;
  }
  .footer__section-nav-lista {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer__section-nav-lits-title-container {
    cursor: auto;
  }
  .footer__section-nav-sublist {
    height: auto;
    cursor: pointer;
  }
  .footer .fas {
    display: none;
  }
  .footer__section-about {
    padding-top: 0.8rem;
  }

  .svg {
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 990px) {
  .footer__container {
    max-width: 1200px;
    padding: 0rem 2rem;
  }
  .footer__section-updates {
    display: flex;
    flex-direction: row;
  }
  .footer__section-updates-about {
    font-size: 2rem;
  }
  .footer__section-updates-form {
    width: 100%;
  }
  .footer__section-nav-lista {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
.header {
  background-color: #000;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.header-container {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  max-width: 1250px;
  margin: 0 auto;
}
.header--scroll {
  background-color: rgba(0, 0, 0, 0.732);
}

.header-image-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-image__image-menuopen-container {
  margin: 0;
  width: 30px;
}
.header-image__image-menuopen-container--scroll {
  background-color: white;
}

.header-image__image-logo-container {
  margin: 0;
  width: 40px;
}

.header-image__image-menuopen,
.header-image__image-logo {
  width: 100%;
}

.header-info-container {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;
  justify-content: space-between;
}

.header-info__link-item-list {
  display: none;
}

.header-info__link-item-list--open {
  display: flex;
  position: fixed;
  flex-direction: column;
  gap: 1.5rem;
  left: 0;
  top: 4.1rem;
  padding: 1rem 0;
  width: 100%;
  margin: 0;
  padding-left: 0;
  list-style: none;
  background-color: #000;
}

.header-info__link-item {
  padding: 0 1rem;
}

.header-info__link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.2rem;
}

.header-info__link--border {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0.6rem;
  justify-content: center;
  margin-top: 1rem;
}

.header-info__link-icon {
  margin-left: 0.3rem;
}

@media (min-width: 1200px) {
  .header-container {
    justify-content: space-between;
  }

  .header-info-container {
    justify-content: space-around;
  }

  .header-info__link-item {
    padding: 0 1.5rem;
  }

  .header-info__link {
    display: block;
    font-size: 0.9rem;
  }

  .header-info__link-item-list {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 0;
    padding-left: 0;
    list-style: none;
  }

  .header-image__image-menuopen-container {
    display: none;
  }

  .header-image__image-logo-container {
    width: 60px;
  }
}
.hero {
  padding: 80px 30px 50px 30px;
  background-color: #000;
}
.hero-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-bottom: 15px;
}
.hero-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-bottom: 15px;
}
.hero-right__info-container {
  margin-bottom: 20px;
}
.hero-info__title {
  font-weight: 600;
  font-size: 2.4rem;
  margin: 0;
  color: #fff;
}
.hero-info__span {
  color: #dbfd51;
}
.hero-info__description {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5;
  margin: 0;
  color: var(--secondary-theme-color);
}
.hero-form__container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 12px;
  background-color: #fff;
  margin-top: 15px;
}
.hero-button__container {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  margin-top: 40px;
  margin-bottom: 10px;
  align-items: center;
}
.hero-button__arrow-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  background: #dbfd51;
  border-radius: 50%;
  cursor: pointer;
}
.hero-button__link-container {
  margin-top: 0;
  padding: 0;
  align-items: center;
  justify-content: start;
}
.hero-button__link {
  margin: 0;
  padding: 0;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
}

.form-container__email {
  margin: 0;
  padding: 0;
}

.form-email__input {
  font-size: 1em;
  display: flex;
  margin: 0 auto;
  text-align: center;
  border: none;
  height: 55px;
  width: 100%;
}

.form-email__input:focus {
  outline: 1px solid #30e87a;
}

.form-container__button {
  margin: 0;
  padding: 0;
}

.form-button__button {
  display: inline-block;
  font-size: 1rem;
  height: 55px;
  width: 100%;
  padding: 0.75rem 0;
  justify-content: center;
  border: none;
  background-color: #000;
  color: #fff;
}

.form-button__button:hover {
  background-color: #30e87a;
  color: #000;
}

.button-arrow {
  width: 0.8rem;
}

.brands {
  background-color: var(--background-theme);
  padding-top: 50px;
}
.brands-container {
  margin: 0;
}
.brands__title {
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  margin: 0;
}
.brands-banner__container {
  display: flex;
  overflow: hidden;
  margin-top: 50px;
  padding: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.3);
}
.brands-list__container {
  display: flex;
  margin: 0 auto;
  gap: 0.5rem;
}
.brands-item__container {
  height: 3rem;
}

.brand-item__image {
  height: 100%;
}

/* FEATURE SECTION */
.feature {
  padding: 50px 30px 50px 30px;
  margin: 0 auto;
  max-width: 1140px;
}
.feature-main__container {
  width: none;
  position: relative;
  margin: 0 auto;
  padding: 0;
  z-index: 1;
}
.feature-main__content {
  max-width: 100%;
}
.feature-main__title {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
}
.feature-main__description {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.47);
  font-weight: 400;
  line-height: 1.5;
}
.feature-info__container {
  position: relative;
  z-index: 1;
  margin: 0 auto;
}
.feature-info__content {
  display: flex;
  flex-direction: column-reverse;
  gap: 30px;
  margin-top: 60px;
}
.feature-info__description-container {
  display: block;
}
.feature-info__description-content {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
.feature-description__img-container {
  margin: 0;
  margin-right: 20px;
}
.feature-info__description {
  display: block;
}
.feature-description__title {
  font-size: 1.2rem;
  line-height: 1.3;
  margin: 0;
  margin-bottom: 0.5rem;
}
.feature-description__description {
  font-size: 1rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.47);
  margin: 0;
}
.feature-info__img-container {
  display: block;
}
.feature-info__img {
  width: 100%;
}

.feature-main__topline-container,
.dev-main__topline-container {
  display: inline-flex;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.feature-main__topline,
.dev-main__topline {
  font-size: 0.85rem;
  padding: 4px 10px;
  border-radius: 6px;
  background-color: #dbfd51;
}

.feature-main__span,
.dev-main__span {
  color: #30e87a;
}

/* DEVELOPER */
.dev {
  padding: 50px 30px 50px 30px;
  margin: 0 auto;
  background-color: #000;
}
.dev-info__container {
  position: relative;
  z-index: 1;
  margin: auto 0 0 auto;
}
.dev-info__content {
  display: flex;
  flex-direction: column-reverse;
  gap: 30px;
}
.dev-main__title {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 1rem;
  color: #fff;
}
.dev-main__description {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.47);
  font-weight: 400;
  line-height: 1.5;
  color: #ffffffcc;
  margin: 0;
}
.dev-button__container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.dev-button__link {
  display: inline-block;
  background-color: #30e87a;
  color: #000;
  font-weight: 600;
  padding: 0.9rem 1.5rem;
  margin-right: auto;
  text-decoration: none;
}
.dev-link__button-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  gap: 0.8rem;
  align-items: center;
}
.dev-link__arrow-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  background: #dbfd51;
  border-radius: 50%;
  cursor: pointer;
}
.dev-link__container {
  margin-top: 0;
  padding: 0;
  align-items: center;
  justify-content: start;
}
.dev-link {
  margin: 0;
  padding: 0;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
}

.resources {
  max-width: 1024px;
  margin: auto;
}
.resources__principal-title {
  background-color: #dbfd51;
  margin: auto;
  font-size: 0.85rem;
  text-align: center;
  width: 5rem;
  padding: 0.3rem 0.4rem;
  border-radius: 8%;
  font-weight: 400;
}
.resources__title {
  margin: 0;
  font-size: 2rem;
  text-align: center;
}
.resources__subtitle {
  margin: 0;
  font-size: 1.4rem;
}
.resources__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 100%;
  margin: 3.5rem auto;
  padding: 0 2rem;
}
.resources__container-resources {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
  margin-bottom: 3rem;
}
.resources__container-resources-principal {
  margin: auto;
  display: flex;
  overflow: hidden;
  min-height: 365px;
}
.resources__container-resources-principal-link {
  width: 100%;
  text-align: center;
  margin: 0;
  background-image: url("https://assets-global.website-files.com/613a0c11c446a15808e5db83/613a0c11c446a173ace5de05_Group%204789%20(4).png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  color: white;
  text-decoration: none;
}
.resources__container-resources-principal-container {
  text-align: left;
  position: relative;
  top: 52%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.resources__container-resources-principal-subtitle {
  color: black;
  border-radius: 8%;
  font-weight: 200;
  margin: 0;
  padding: 0.5rem 0.5rem;
  width: 6rem;
  font-size: 0.85rem;
  background-color: #30e87a;
}
.resources__container-resources-principal-title {
  margin: 0;
  font-size: 1.5rem;
}
.resources__container-resources-secundary {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.resources__container-resources-secundary-link {
  text-decoration: none;
}
.resources__container-resources-secundary-link:hover > .resources__container-resources-secundary-descriptions-container {
  background-color: black;
  color: white;
}
.resources__container-resources-secundary-link:hover > .resources__container-resources-secundary-descriptions-container .resources__container-resources-secundary-descriptions {
  color: white;
}
.resources__container-resources-secundary-info-img-container {
  display: flex;
  min-width: 200px;
  margin: 0;
}
.resources__container-resources-secundary-info-img {
  width: 100%;
}
.resources__container-resources-secundary-descriptions-container {
  display: grid;
  grid-template-columns: 5fr 1fr;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  background-color: #f8f8f8;
}
.resources__container-resources-secundary-descriptions {
  color: black;
  margin: 0;
  font-size: 1.2rem;
}
.resources__container-resources-secundary-container-arrow {
  display: flex;
  margin: 0;
  width: 1rem;
  height: 1rem;
  padding: 0.5rem 0.5rem;
  background-color: #dbfd51;
  border-radius: 50%;
  overflow: hidden;
}
.resources__container-resources-secundary-arrow {
  width: 100%;
}
.resources__container-blog {
  margin: auto;
}
.resources__container-blog-title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
}
.resources__container-blog-items {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  margin: 1.5rem auto;
}
.resources__container-blog-items-link {
  text-decoration: none;
  color: black;
}
.resources__container-blog-items-link-container-img {
  display: flex;
  max-width: 500px;
  margin: 0;
}
.resources__container-blog-items-link-img {
  width: 100%;
}
.resources__container-blog-items-link-about {
  margin: 0.8rem 0;
  font-weight: 400;
}
.resources__container-blog-items-link-date {
  margin: 0;
  color: rgba(0, 0, 0, 0.47);
  font-size: 0.8rem;
  font-weight: 400;
}
.resources__container-more {
  display: flex;
  flex-direction: row;
  margin: auto;
  gap: 0.5rem;
  align-items: center;
}
.resources__container-more-img-container {
  margin: 0;
  display: flex;
  width: 0.8rem;
  height: 0.8rem;
  padding: 0.5rem 0.5rem;
  border-radius: 50%;
  background-color: #dbfd51;
}
.resources__container-more-arrow {
  width: 100%;
}
.resources__container-more-title {
  margin: 0;
}

.section-standard__container {
  display: flex;
  max-width: 1024px;
  min-height: 230px;
  text-align: center;
  padding: 2.5rem 2rem;
  margin: auto;
  align-items: center;
  justify-content: center;
  background-image: url(https://assets-global.website-files.com/613a0c11c446a1558ce5db7e/613a0c11c446a1319ce5dc76_Call%20to%20action.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.section-standard__container-title {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  position: relative;
}
.section-standard__container-title-input-button {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 60%;
  height: 7.5rem;
  margin: auto;
}
.section-standard__container-title-input {
  text-align: center;
  height: 100%;
  font-size: 1rem;
  border: none;
}
.section-standard__container-title-button {
  background-color: black;
  color: white;
  border: none;
  height: 100%;
  font-size: 1rem;
}
.section-standard__container-title-button:focus {
  background-color: #30e87a;
}
.section-standard__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-standard__title {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
}

@media (min-width: 480px) {
  .resources {
    max-width: 1024px;
  }
  .resources__container {
    padding: 0 3rem;
  }
  .resources__container-resources-principal-link {
    background-position: bottom;
    width: auto;
    min-height: 26rem;
  }
  .resources__container-resources-principal-container {
    top: 55%;
    padding: 0 4rem;
  }
  .resources__container-resources-secundary-link {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  .resources__container-resources-secundary-info-img-container {
    min-width: 130px;
  }
  .resources__container-blog-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .resources__container-blog-items-link {
    display: grid;
    grid-template-rows: 13rem 4rem 1rem;
  }
  .resources__container-blog-items-link-container-img {
    overflow: hidden;
  }
  .resources__container-blog-items-link-img {
    object-fit: cover;
  }

  .section-standard {
    padding: 0 2rem;
  }
  .section-standard__container {
    max-width: 720px;
    max-height: 265px;
  }
  .section-standard__container-title-input-button {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    height: 3rem;
  }
  .section-standard__container-title-input {
    padding-right: 60px;
  }
  .section-standard__container-title-button {
    padding: 0 1.5rem;
  }
  .section-standard__title {
    font-size: 2rem;
  }
}
@media (min-width: 854px) {
  .hero {
    position: relative;
    padding: 100px 50px;
  }

  .hero-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 60px;
    max-width: 1140px;
    z-index: 1;
    margin: 0 auto;
  }

  .hero-info__title {
    font-size: 4rem;
  }

  .hero-info__description {
    font-size: 1.4rem;
    margin-bottom: 20px;
  }

  .hero-right {
    width: 50%;
  }

  .hero-left {
    margin-left: 0;
  }

  .hero-form__container {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
  }

  .form-container__email {
    width: 70%;
  }

  .form-email__input {
    text-align: left;
    height: 55px;
  }

  .form-container__button {
    width: 29%;
  }

  .brands {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .brands__title {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    font-size: 2.6rem;
    font-weight: 600;
    padding: 0;
    margin-bottom: 1rem;
  }

  .brands-banner__container {
    padding: 15px;
    margin-top: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.3);
  }

  .feature-info__container {
    max-width: 1340px;
    width: 100%;
  }

  .feature-info__content {
    display: flex;
    flex-direction: row;
  }

  .feature-main__content {
    max-width: 65%;
  }

  .feature-main__title {
    font-size: 3.5rem;
  }

  .feature-main__description {
    max-width: 85%;
  }

  .feature-info__container {
    margin-top: 100px;
  }

  .feature-info__content {
    gap: 113px;
  }

  .dev-info__container {
    max-width: 1140px;
    margin: 0 auto;
  }

  .dev-info__content {
    display: grid;
    grid-template-columns: 1fr 0.75fr;
    gap: 100px;
    align-items: center;
  }

  .dev-button__container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .dev-link__button-container {
    margin: auto 0;
  }
}
@media (min-width: 990px) {
  .resources {
    max-width: 1200px;
  }
  .resources__title {
    font-size: 3rem;
  }
  .resources__principal-title {
    font-size: 1rem;
    width: 8rem;
  }
  .resources__subtitle {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
  }
  .resources__container {
    padding: 0;
  }
  .resources__container-resources {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: 180px;
    row-gap: 0;
  }
  .resources__container-resources-principal {
    min-height: 32.5rem;
  }
  .resources__container-resources-principal-link {
    min-height: auto;
  }
  .resources__container-resources-principal-container {
    top: 50%;
    gap: 1.5rem;
  }
  .resources__container-resources-principal-subtitle {
    padding: 0.5rem 0.5rem;
    width: 10rem;
    font-size: 1.2rem;
  }
  .resources__container-resources-principal-title {
    font-size: 2.1rem;
  }
  .resources__container-resources-secundary {
    justify-content: center;
  }
  .resources__container-resources-secundary-info-img-container {
    min-width: 160px;
  }
  .resources__container-resources-principal:nth-child(1) {
    grid-column: span 1;
    grid-row: span 3;
  }
  .resources__container-resources-secundary:nth-child(2) {
    grid-row: span 1;
  }
  .resources__container-resources-secundary:nth-child(3) {
    grid-row: span 1;
  }
  .resources__container-resources-secundary:nth-child(4) {
    grid-row: span 1;
  }
  .resources__container-blog-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .resources__container-blog-items-link {
    display: grid;
    grid-template-rows: 12rem 5.2rem 1rem;
  }
  .resources__container-blog-items-link-container-img {
    overflow: hidden;
  }
  .resources__container-blog-items-link-img {
    object-fit: cover;
  }

  .section-standard__container {
    max-width: 1200px;
    min-height: 600px;
  }
  .section-standard__container-title {
    max-width: 600px;
  }
  .section-standard__container-title-input-button {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    height: 3rem;
  }
  .section-standard__container-title-input {
    padding-right: 170px;
  }
  .section-standard__container-title-button {
    padding: 0 1.5rem;
  }
  .section-standard__title {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
