.hero {
  padding: 80px 30px 50px 30px;
  background-color: #000;
  &-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-bottom: 15px;
  }
  &-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-bottom: 15px;
  }
  &-right__info-container {
    margin-bottom: 20px;
  }

  &-info__title {
    font-weight: 600;
    font-size: 2.4rem;
    margin: 0;
    color: #fff;
  }

  &-info__span {
    color: #dbfd51;
  }

  &-info__description {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
    margin: 0;
    color: var(--secondary-theme-color);
  }

  &-form__container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 12px;
    background-color: #fff;
    margin-top: 15px;
  }
  &-button__container {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    margin-top: 40px;
    margin-bottom: 10px;
    align-items: center;
  }

  &-button__arrow-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    background: #dbfd51;
    border-radius: 50%;
    cursor: pointer;
  }

  &-button__link-container {
    margin-top: 0;
    padding: 0;
    align-items: center;
    justify-content: start;
  }

  &-button__link {
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
  }
}

.form-container__email {
  margin: 0;
  padding: 0;
}

.form-email__input {
  font-size: 1em;
  display: flex;
  margin: 0 auto;
  text-align: center;
  border: none;
  height: 55px;
  width: 100%;
}

.form-email__input:focus {
  outline: 1px solid #30e87a;
}

.form-container__button {
  margin: 0;
  padding: 0;
}

.form-button__button {
  display: inline-block;
  font-size: 1rem;
  height: 55px;
  width: 100%;
  padding: 0.75rem 0;
  justify-content: center;
  border: none;
  background-color: #000;
  color: #fff;
}

.form-button__button:hover {
  background-color: #30e87a;
  color: #000;
}

.button-arrow {
  width: 0.8rem;
}

.brands {
  background-color: var(--background-theme);
  padding-top: 50px;
  &-container {
    margin: 0;
  }

  &__title {
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    margin: 0;
  }

  &-banner__container {
    display: flex;
    overflow: hidden;
    margin-top: 50px;
    padding: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.3);
  }

  &-list__container {
    display: flex;
    margin: 0 auto;
    gap: 0.5rem;
  }

  &-item__container {
    height: 3rem;
  }
}
.brand-item__image {
  height: 100%;
}

/* FEATURE SECTION */
.feature {
  padding: 50px 30px 50px 30px;
  margin: 0 auto;
  max-width: 1140px;
  &-main__container {
    width: none;
    position: relative;
    margin: 0 auto;
    padding: 0;
    z-index: 1;
  }

  &-main__content {
    max-width: 100%;
  }

  &-main__title {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
  }

  &-main__description {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.47);
    font-weight: 400;
    line-height: 1.5;
  }

  &-info__container {
    position: relative;
    z-index: 1;
    margin: 0 auto;
  }

  &-info__content {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
    margin-top: 60px;
  }

  &-info__description-container {
    display: block;
  }

  &-info__description-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
  }

  &-description__img-container {
    margin: 0;
    margin-right: 20px;
  }

  &-info__description {
    display: block;
  }

  &-description__title {
    font-size: 1.2rem;
    line-height: 1.3;
    margin: 0;
    margin-bottom: 0.5rem;
  }

  &-description__description {
    font-size: 1rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.47);
    margin: 0;
  }

  &-info__img-container {
    display: block;
  }

  &-info__img {
    width: 100%;
  }
}

.feature-main__topline-container,
.dev-main__topline-container {
  display: inline-flex;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.feature-main__topline,
.dev-main__topline {
  font-size: 0.85rem;
  padding: 4px 10px;
  border-radius: 6px;
  background-color: #dbfd51;
}
.feature-main__span,
.dev-main__span {
  color: #30e87a;
}
/* DEVELOPER */
.dev {
  padding: 50px 30px 50px 30px;
  margin: 0 auto;
  background-color: #000;
  &-info__container {
    position: relative;
    z-index: 1;
    margin: auto 0 0 auto;
  }

  &-info__content {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
  }

  &-main__title {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: 1rem;
    color: #fff;
  }

  &-main__description {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.47);
    font-weight: 400;
    line-height: 1.5;
    color: #ffffffcc;
    margin: 0;
  }

  &-button__container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  &-button__link {
    display: inline-block;
    background-color: #30e87a;
    color: #000;
    font-weight: 600;
    padding: 0.9rem 1.5rem;
    margin-right: auto;
    text-decoration: none;
  }

  &-link__button-container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 0.8rem;
    align-items: center;
  }

  &-link__arrow-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    background: #dbfd51;
    border-radius: 50%;
    cursor: pointer;
  }

  &-link__container {
    margin-top: 0;
    padding: 0;
    align-items: center;
    justify-content: start;
  }
  &-link {
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
  }
}
.resources {
  max-width: 1024px;
  margin: auto;
  &__container-principal-info {
  }
  &__principal-title {
    background-color: $text-color-2;
    margin: auto;
    font-size: 0.85rem;
    text-align: center;
    width: 5rem;
    padding: 0.3rem 0.4rem;
    border-radius: 8%;
    font-weight: 400;
  }
  &__title {
    margin: 0;
    font-size: 2rem;
    text-align: center;
  }
  &__subtitle {
    margin: 0;
    font-size: 1.4rem;
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 100%;
    margin: 3.5rem auto;
    padding: 0 2rem;

    &-resources {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin: auto;
      margin-bottom: 3rem;
      &-principal {
        margin: auto;
        display: flex;
        overflow: hidden;
        min-height: 365px;
        &-link {
          width: 100%;
          text-align: center;
          margin: 0;
          background-image: url("https://assets-global.website-files.com/613a0c11c446a15808e5db83/613a0c11c446a173ace5de05_Group%204789%20(4).png");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: top;
          color: $text-color-inverse;
          text-decoration: none;
        }
        &-container {
          text-align: left;
          position: relative;
          top: 52%;
          padding: 0 1rem;
          display: flex;
          flex-direction: column;
          gap: 1rem;
        }
        &-subtitle {
          color: $text-color;
          border-radius: 8%;
          font-weight: 200;
          margin: 0;
          padding: 0.5rem 0.5rem;
          width: 6rem;
          font-size: 0.85rem;
          background-color: $inverse-button-color;
        }
        &-title {
          margin: 0;
          font-size: 1.5rem;
        }
      }
      &-secundary {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        &-link {
          text-decoration: none;
        }
        &-link:hover > &-descriptions-container {
          background-color: $text-color;
          color: $text-color-inverse;
          .resources__container-resources-secundary-descriptions {
            color: $text-color-inverse;
          }
        }
        &-info-img-container {
          display: flex;
          min-width: 200px;
          margin: 0;
        }
        &-info-img {
          width: 100%;
        }
        &-descriptions-container {
          display: grid;
          grid-template-columns: 5fr 1fr;
          justify-content: space-between;
          align-items: center;
          padding: 1rem 1rem;
          background-color: $backgorund-color;
        }
        &-descriptions {
          color: $text-color;
          margin: 0;
          font-size: 1.2rem;
        }
        &-container-arrow {
          display: flex;
          margin: 0;
          width: 1rem;
          height: 1rem;
          padding: 0.5rem 0.5rem;
          background-color: $text-color-2;
          border-radius: 50%;
          overflow: hidden;
        }
        &-arrow {
          width: 100%;
        }
      }
    }
    &-blog {
      margin: auto;
      &-title {
        margin: 0;
        font-size: 1.5rem;
        font-weight: 400;
      }
      &-items {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
        margin: 1.5rem auto;
      }
      &-items-link {
        text-decoration: none;
        color: $text-color;
        &-container-img {
          display: flex;
          max-width: 500px;
          margin: 0;
        }
        &-img {
          width: 100%;
        }
        &-about {
          margin: 0.8rem 0;
          font-weight: 400;
        }
        &-date {
          margin: 0;
          color: $text-color-1;
          font-size: 0.8rem;
          font-weight: 400;
        }
      }
    }
    &-more {
      display: flex;
      flex-direction: row;
      margin: auto;
      gap: 0.5rem;
      align-items: center;
      &-img-container {
        margin: 0;
        display: flex;
        width: 0.8rem;
        height: 0.8rem;
        padding: 0.5rem 0.5rem;
        border-radius: 50%;
        background-color: $text-color-2;
      }
      &-arrow {
        width: 100%;
      }
      &-title {
        margin: 0;
      }
    }
  }
}
.section-standard {
  &__container {
    display: flex;
    max-width: 1024px;
    min-height: 230px;
    text-align: center;
    padding: 2.5rem 2rem;
    margin: auto;
    align-items: center;
    justify-content: center;

    background-image: url(https://assets-global.website-files.com/613a0c11c446a1558ce5db7e/613a0c11c446a1319ce5dc76_Call%20to%20action.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

    &-title {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
      position: relative;
      &-input-button {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        max-width: 60%;
        height: 7.5rem;
        margin: auto;
      }
      &-input {
        text-align: center;
        height: 100%;
        font-size: 1rem;
        border: none;
      }
      &-button {
        background-color: $text-color;
        color: $text-color-inverse;
        border: none;
        height: 100%;
        font-size: 1rem;
      }
      &-button:focus {
        background-color: $inverse-button-color;
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__title {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0;
  }
}
@media (min-width: 480px) {
  .resources {
    max-width: 1024px;
    &__container {
      padding: 0 3rem;
      &-resources {
        &-principal {
          &-link {
            background-position: bottom;
            width: auto;
            min-height: 26rem;
          }
          &-container {
            top: 55%;
            padding: 0 4rem;
          }
        }
        &-secundary {
          &-link {
            display: grid;
            grid-template-columns: 1fr 3fr;
          }
          &-info-img-container {
            min-width: 130px;
          }
        }
      }
      &-blog {
        &-title {
        }
        &-items {
          display: grid;
          grid-template-columns: 1fr 1fr;
        }
        &-items-link {
          display: grid;
          grid-template-rows: 13rem 4rem 1rem;
          &-container-img {
            overflow: hidden;
          }
          &-img {
            object-fit: cover;
          }
        }
      }
    }
  }
  .section-standard {
    padding: 0 2rem;
    &__container {
      max-width: 720px;
      max-height: 265px;
      &-title {
        &-input-button {
          display: flex;
          flex-direction: row;
          max-width: 100%;
          height: 3rem;
        }
        &-input {
          padding-right: 60px;
        }
        &-button {
          padding: 0 1.5rem;
        }
      }
    }

    &__title {
      font-size: 2rem;
    }
  }
}
@media (min-width: 854px) {
  .hero {
    position: relative;
    padding: 100px 50px;
  }

  .hero-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 60px;
    max-width: 1140px;
    z-index: 1;
    margin: 0 auto;
  }
  .hero-info__title {
    font-size: 4rem;
  }

  .hero-info__description {
    font-size: 1.4rem;
    margin-bottom: 20px;
  }

  .hero-right {
    width: 50%;
  }

  .hero-left {
    margin-left: 0;
  }

  .hero-form__container {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
  }

  .form-container__email {
    width: 70%;
  }

  .form-email__input {
    text-align: left;
    height: 55px;
  }

  .form-container__button {
    width: 29%;
  }

  .brands {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .brands__title {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    font-size: 2.6rem;
    font-weight: 600;
    padding: 0;
    margin-bottom: 1rem;
  }

  .brands-banner__container {
    padding: 15px;
    margin-top: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.3);
  }

  .feature-info__container {
    max-width: 1340px;
    width: 100%;
  }

  .feature-info__content {
    display: flex;
    flex-direction: row;
  }

  .feature-main__content {
    max-width: 65%;
  }

  .feature-main__title {
    font-size: 3.5rem;
  }

  .feature-main__description {
    max-width: 85%;
  }

  .feature-info__container {
    margin-top: 100px;
  }

  .feature-info__content {
    gap: 113px;
  }

  .dev-info__container {
    max-width: 1140px;
    margin: 0 auto;
  }

  .dev-info__content {
    display: grid;
    grid-template-columns: 1fr 0.75fr;
    gap: 100px;
    align-items: center;
  }

  .dev-button__container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .dev-link__button-container {
    margin: auto 0;
  }
}
@media (min-width: 990px) {
  .resources {
    max-width: 1200px;
    &__title {
      font-size: 3rem;
    }
    &__principal-title {
      font-size: 1rem;
      width: 8rem;
    }
    &__subtitle {
      margin: 0;
      font-size: 1.5rem;
      font-weight: 400;
    }
    &__container {
      padding: 0;
      &-resources {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-auto-rows: 180px;
        row-gap: 0;
        &-principal {
          min-height: 32.5rem;
          &-link {
            min-height: auto;
          }
          &-container {
            top: 50%;
            gap: 1.5rem;
          }
          &-subtitle {
            padding: 0.5rem 0.5rem;
            width: 10rem;
            font-size: 1.2rem;
          }
          &-title {
            font-size: 2.1rem;
          }
        }
        &-secundary {
          justify-content: center;
          &-info-img-container {
            min-width: 160px;
          }
        }
        &-principal:nth-child(1) {
          grid-column: span 1;
          grid-row: span 3;
        }
        &-secundary:nth-child(2) {
          grid-row: span 1;
        }
        &-secundary:nth-child(3) {
          grid-row: span 1;
        }
        &-secundary:nth-child(4) {
          grid-row: span 1;
        }
      }
      &-blog {
        &-title {
        }
        &-items {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        &-items-link {
          display: grid;
          grid-template-rows: 12rem 5.2rem 1rem;
          &-container-img {
            overflow: hidden;
          }
          &-img {
            object-fit: cover;
          }
        }
      }
    }
  }
  .section-standard {
    &__container {
      max-width: 1200px;
      min-height: 600px;
      &-title {
        max-width: 600px;
        &-input-button {
          display: flex;
          flex-direction: row;
          max-width: 100%;
          height: 3rem;
        }
        &-input {
          padding-right: 170px;
        }
        &-button {
          padding: 0 1.5rem;
        }
      }
    }
    &__title {
      font-size: 3rem;
      font-weight: 700;
      margin: 0;
    }
  }
}
