
@font-face {
  font-family: Roobert;
  src: url(../font/Roobert-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Roobert;
  src: url(../font/Roobert-Medium.ttf);
}

@font-face {
  font-family: Roobert;
  src: url(../font/Roobert-Bold.ttf);
  font-weight: bolder;
}

@font-face {
  font-family: Roobert;
  src: url(../font/Roobert-Heavy.ttf);
  font-weight: bold;
}


:root {
  --secondary-theme-color: rgba(255, 255, 255, 0.5);
  --background-theme: #000;
}


* {
  font-family: Roobert, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: #fff;
}

h1+p {
  color: var(--secondary-theme-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

main {
  background-color: var(--background-theme);
}

