@font-face {
  font-family: Roobert;
  src: url(../font/Roobert-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Roobert;
  src: url(../font/Roobert-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Roobert;
  src: url(../font/Roobert-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Roobert;
  src: url(../font/Roobert-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Roobert;
  src: url(../font/Roobert-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Roobert;
  src: url(../font/Roobert-Heavy.ttf);
  font-weight: 800;
}


:root {
  --secondary-theme-color: rgba(255, 255, 255, 0.5);
  --background-theme: #000;
}


* {
  font-family: Roobert, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: #fff;
}

h1+p {
  color: var(--secondary-theme-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.hero {
  padding: 80px 30px 50px 30px;
  background-color: #000;
}

.hero-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-bottom: 15px;
}

.hero-right {

}

.hero-right__info-container {
  margin-bottom: 20px;
}

.hero-info__title {
  font-weight: 600;
  font-size: 2.4rem;
  margin-bottom: 10px;
}

.hero-info__span {
  color: #dbfd51;
}

.hero-info__description {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5;

}

.hero-form__container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 12px;
  background-color: #fff;
  margin-top: 15px;
}

.form-container__email {
  margin: 0;
  padding: 0;
}

.form-email__input {
  font-size: 1em;
  display: flex;
  margin: 0 auto;
  text-align: center;
  border: none;
  height: 55px;
  width: 100%;
}

.form-email__input:focus {
  outline: 1px solid #30e87a;

}

.form-container__button {
  margin: 0;
  padding: 0;
}

.form-button__button {
  display: inline-block;
  font-size: 1rem;
  height: 55px;
  width: 100%;
  padding: .75rem 0;
  justify-content: center;
  border: none;
  background-color:#000;
  color: #fff;
}

.form-button__button:hover {
  background-color:#30e87a;
  color: #000;
}

.hero-button__container {
  display: flex;
  flex-direction: row;
  gap: .6rem;
  margin-top: 40px;
  margin-bottom: 10px;
  align-items: center;
}

.hero-button__arrow-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  background:#dbfd51;
  border-radius: 50%;
  cursor: pointer;
}

.hero-button__link-container {
  margin-top: 0;
  padding: 0;
  align-items: center;
  justify-content: start;
}

.hero-button__link {
  margin: 0;
  padding: 0;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}


.button-arrow {
  width: .8rem;
}


.brands {
  background-color: var(--background-theme);
  padding-top: 50px;
}

.brands-container {
  margin: 0;
}

.brands__title {
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.brands-banner__container {
  display: flex;
  overflow: hidden;
  margin-top: 50px;
  padding: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.3);
}

.brands-list__container {
  display: flex;
  gap: 1rem;
}

.brands-item__container {
  height: 3rem;
}

.brand-item__image {
  height: 100%;
}



/* FEATURE SECTION */
.feature {
  padding: 50px 30px 50px 30px;
  margin: 0 auto;
  max-width: 1140px;
}

.feature-main__container {
  width: none;
  position: relative;
  margin: 0 auto;
  padding: 0;
  z-index: 1;
}

.feature-main__content {
  max-width: 100%;
}

.feature-main__topline-container,
.dev-main__topline-container {
  display: inline-flex;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.feature-main__topline,
.dev-main__topline {
  font-size: .85rem;
  padding: 4px 10px;
  border-radius: 6px;
  background-color: #dbfd51;
}

.feature-main__title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.feature-main__span,
.dev-main__span {
  color: #30e87a;
}

.feature-main__description {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.47);
  font-weight: 400;
  line-height: 1.5;
}

.feature-info__container {
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

.feature-info__content {
  display: flex;
  flex-direction: column-reverse;
  gap: 30px;
  margin-top: 60px;
}

.feature-info__description-container {
  display: block;
}

.feature-info__description-content {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.feature-description__img-container {
  margin-right: 20px;
}

.feature-info__description {
  display: block;
}

.feature-description__title {
  font-size: 1.2rem;
  line-height: 1.3;
  margin-bottom: .5rem;
}

.feature-description__description {
  font-size: 1rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.47);
}

.feature-info__img-container {
  display: block;
}

.feature-info__img {
  width: 100%;
}

/* DEVELOPER */
.developer{
  padding: 50px 30px 50px 30px;
  margin: 0 auto;
  background-color: #000;
}

.dev-info__container {
  position: relative;
  z-index: 1;
  margin: auto 0 0 auto;
}

.dev-info__content {
  display: flex;
  flex-direction: column-reverse;
  gap: 30px;
}

.dev-main__title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #fff;
}

.dev-main__description {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.47);
  font-weight: 400;
  line-height: 1.5;
  color: #ffffffcc;
}

.dev-button__container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.dev-button__link {
  display: inline-block;
  background-color: #30e87a;
  color: #000;
  font-weight: 600;
  padding: 0.9rem 1.5rem;
  margin-right: auto;
}

.dev-link__button-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  gap: .8rem;
  align-items: center;
}

.dev-link__arrow-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  background: #dbfd51;
  border-radius: 50%;
  cursor: pointer;
}

.dev-link__container {
  margin-top: 0;
  padding: 0;
  align-items: center;
  justify-content: start;
}
.dev-link {
  margin: 0;
  padding: 0;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}


/* RIGHT CONTAINER */
.dev-info__description-container {
  display: block;
}

.dev-info__description-content {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.dev-description__img-container {
  margin-right: 20px;
}

.dev-info__description {
  display: block;
}

.dev-description__title {
  font-size: 1.2rem;
  line-height: 1.3;
  margin-bottom: .5rem;
}

.dev-description__description {
  font-size: 1rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.47);
}

.dev-info__img-container {
  display: block;
}

.dev-info__img {
  width: 100%;
}





@media (min-width: 854px) {

  .hero {
    position: relative;
    padding: 100px 50px;
  }

  .hero-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 60px;
    max-width: 1140px;
    z-index: 1;
    margin: 0 auto;
  }
  .hero-info__title {
    font-size: 4rem;
  }
  
  .hero-info__description {
    font-size: 1.4rem;
    margin-bottom: 20px;
  }

  .hero-right {
    width: 50%;
  }
  
  .hero-left {
    margin-left: 0;
  }

  .hero-form__container {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
  }

  .form-container__email{
    width: 70%;
  }

  .form-email__input {
    text-align: left;
    height: 55px;
  }

  .form-container__button {
    width: 29%;
  }

  .brands {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .brands__title {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    font-size: 2.6rem;
    font-weight: 600;
    padding: 0;
    margin-bottom: 1rem;
  }

  .brands-banner__container {
    padding: 15px;
    margin-top: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.3);
  }

  .feature-info__container {
      max-width: 1340px;
      width: 100%;
  }

  .feature-info__content {
    display: flex;
    flex-direction: row;
  }

  .feature-main__content {
    max-width: 65%;
  }

  .feature-main__title {
    font-size: 3.5rem;
  }

  .feature-main__description {
    max-width: 85%;
  }

  .feature-info__container {
    margin-top: 100px;
  }
  
  .feature-info__content {
    gap: 113px;
  }

  .dev-info__container {
    max-width: 1140px;
    margin: 0 auto;
  }

  .dev-info__content {
    display: grid;
    grid-template-columns: 1fr 0.75fr;
    gap: 100px;
    align-items: center;
  }

  .dev-button__container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .dev-link__button-container {
    margin: auto 0;
  }

  
 }