@font-face {
  font-family: Roobert;
  src: url(../font/Roobert-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Roobert;
  src: url(../font/Roobert-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Roobert;
  src: url(../font/Roobert-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Roobert;
  src: url(../font/Roobert-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Roobert;
  src: url(../font/Roobert-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Roobert;
  src: url(../font/Roobert-Heavy.ttf);
  font-weight: 800;
}


:root {
  --secondary-theme-color: rgba(255, 255, 255, 0.5);
  --background-theme: #000;
}


* {
  font-family: Roobert, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: #fff;
}

h1+p {
  color: var(--secondary-theme-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

main {
  background-color: var(--background-theme);
}

.hero {
  padding: 0 30px 0 30px;
  margin-top: 3rem; 
}

.hero-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.hero-right {

}

.hero-right__info-container {
  margin-bottom: 20px;
}

.hero-info__title {
  font-weight: 600;
  font-size: 2.4rem;
  margin-bottom: 10px;
}

.hero-info__span {
  color: #dbfd51;
}

.hero-info__description {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5;

}

.hero-form__container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 12px;
  background-color: #fff;
  margin-top: 15px;
}

.form-container__email {
  margin: 0;
  padding: 0;
}

.form-email__input {
  font-size: 1em;
  display: flex;
  margin: 0 auto;
  text-align: center;
  border: none;
  height: 55px;
  width: 100%;
}

.form-email__input:focus {
  outline: 1px solid #30e87a;

}

.form-container__button {
  margin: 0;
  padding: 0;
}

.form-button__button {
  display: inline-block;
  font-size: 1rem;
  height: 55px;
  width: 100%;
  padding: .75rem 0;
  justify-content: center;
  border: none;
  background-color:#000;
  color: #fff;
}

.form-button__button:hover {
  background-color:#30e87a;
  color: #000;
}

.hero-button__container {
  display: flex;
  flex-direction: row;
  gap: .6rem;
  margin-top: 40px;
  align-items: center;
}

.hero-button__arrow-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  background:#dbfd51;
  border-radius: 50%;
  cursor: pointer;
}

.hero-button__link-container {
  margin-top: 0;
  padding: 0;
  align-items: center;
  justify-content: start;
}

.hero-button__link {
  margin: 0;
  padding: 0;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}


.button-arrow {
  width: .8rem;
}


.brands {
  background-color: var(--background-theme);
  padding-top: 50px;
  padding-bottom: 50px;
}

.brands-container {
  margin: 0;
}

.brands__title {
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.2;
}

.brand-banner__container {
  display: flex;
  overflow: hidden;
  margin-top: 50px;
  padding: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.3);
}

@media (min-width: 854px) {

  .hero {
    position: relative;
    padding: 100px 50px;
  }

  .hero-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 60px;
    max-width: 1140px;
    z-index: 1;
    margin: 0 auto;
  }
  .hero-info__title {
    font-size: 4rem;
  }
  
  .hero-info__description {
    font-size: 1.4rem;
    margin-bottom: 20px;
  }

  .hero-right {
    width: 50%;
  }
  
  .hero-left {
    margin-left: 0;
  }

  .hero-form__container {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
  }

  .form-container__email{
    width: 70%;
  }

  .form-email__input {
    text-align: left;
    height: 55px;
  }

  .form-container__button {
    width: 29%;
  }

  .brands {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .brands__title {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    font-size: 2.6rem;
    font-weight: 600;
    padding: 0;
    margin-bottom: 1rem;
  }

  .brands-banner__container {
    padding: 15px;
    margin-top: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.3);
  }
}