.footer {
  margin-top: 3rem;
  &__container {
    @include d-flex(flex, column, 1.2rem);
    color: $text-color;
    padding: 0 1.5rem;
    max-width: 720px;
    margin: auto;
  }
  &__section-head {
    @include d-flex(flex, column, 0.5rem);

    &-head-copy {
      margin: 0;
      color: $text-color-1;
    }
  }
  &__section-logo {
  }
  &__section-nav {
    &-items {
    }
    &-list-container {
      padding: 0;
    }
    &-list-title {
      margin: 0;
      font-weight: 400;
    }
    &-lista {
      @include d-flex(flex, column, 2.7rem);
      margin: 0;
      padding: 0;
      flex-wrap: wrap;
    }
    &-lits-title-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
    }
    &-sublist {
      padding: 0;
      @include d-flex(flex, column, 0.5rem);
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      height: 0;
      padding-top: 1.5rem;
      overflow: hidden;
      cursor: none;
      &-item {
      }
    }
    &-list-container:hover > &-sublist {
      height: auto;
      cursor: auto;
    }
  }
  &__section-nav-sublits-item-container {
    text-decoration: none;
    color: $text-color;
    list-style: none;
    cursor: pointer;
  }
  &__section-network-container {
    display: flex;
    gap: 0.5rem;
  }
  &__section-network-img {
    opacity: 0.4;
    &-container {
    }
  }
  &__section-network-img:hover {
    opacity: 1;
  }

  &__section-terms {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    align-items: flex-end;
    &-container {
      @include d-flex(flex, row, 1rem);
    }
    &-items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      text-decoration: none;
      color: $text-color;
    }
  }
  &__section-updates {
    display: flex;
    flex-direction: column;
    margin: auto;
    &-about {
      font-size: 1.3rem;
      font-weight: bold;
    }

    &-form {
      @include d-flex(flex, column, 0.5rem);
      padding: 0.8rem;
      border: 0.01rem solid $border-color;
      height: 8.5rem;
      font-weight: 400;
      &-button {
        background-color: $text-color;
        color: $text-color-inverse;
        border: none;
        height: 100%;
        font-size: 1rem;
      }
      &-button:focus {
        background-color: $inverse-button-color;
      }
      &-input {
        text-align: center;
        height: 100%;
        border: 0.01rem solid $text-color;
        font-size: 1rem;
      }
    }
  }
  &__section-about {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    &-title {
      margin: 0;
      margin-top: -2.4rem;
      color: $text-color-1;
    }
    &-scroll-img-container {
      @include d-flex(flex, row, 0.5rem);
      text-decoration: none;
      justify-content: end;
    }
    &-scroll-img-about {
      color: $text-color-1;
    }
    &-scroll-img {
      opacity: 0.4;
    }
    &-scroll-img-container:hover > &-scroll-img {
      opacity: 1;
    }
    &-scroll-img-container:hover > &-scroll-img-about {
      color: $text-color;
    }
  }
}
@media (min-width: 480px) {
  .footer {
    &__container {
      padding: 0 3rem;
    }
    &__section-updates {
      align-items: center;
      &-form {
        flex-direction: row;
        justify-content: space-between;
        height: 3.5rem;
        &-button {
          width: 28%;
        }
        &-input {
          border: none;
        }
      }
    }
    &__section-nav {
      &-lista {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      &-lits-title-container {
        cursor: auto;
      }
      &-sublist {
        height: auto;
        cursor: pointer;
      }
    }
    .fas {
      display: none;
    }
    &__section-about {
      padding-top: 0.8rem;
    }
  }
  .svg {
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 990px) {
  .footer {
    &__container {
      max-width: 1200px;
      padding: 0rem 2rem;
    }
    &__section-updates {
      display: flex;
      flex-direction: row;

      &-about {
        font-size: 2rem;
      }
      &-form {
        width: 100%;
      }
    }
    &__section-nav {
      &-lista {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      }
    }
  }
}
