$text-color: black;
$text-color-1: rgba(0, 0, 0, 0.47);
$text-color-2: #dbfd51;
$text-color-inverse: white;
$border-color: #d4d4d4;
$inverse-button-color:#30e87a;
$backgorund-color:#f8f8f8;

body{
    margin: 0;
    font-family: Roobert, sans-serif;
}

.resources{
    max-width: 1024px;
    margin: auto;
    &__container-principal-info{}
    &__principal-title{
        background-color: $text-color-2;
        margin: auto;
        font-size: 0.85rem;
        text-align: center;
        width: 5rem;
        padding: 0.3rem 0.4rem;
        border-radius: 8%;
        font-weight: 400;
    }
    &__title{
        margin: 0;
        font-size: 2rem;
        text-align: center;
    }      
    &__subtitle{
        margin: 0;
        font-size: 1.4rem;
    }
    &__container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: 100%;
        margin: 3.5rem auto;
        padding: 0 2rem;
        
        &-resources{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin: auto;
            margin-bottom: 3rem;
            &-principal{
                margin: auto;
                display: flex;
                overflow: hidden;
                min-height: 365px;
                &-link{
                    width: 100%;
                    text-align: center;
                    margin: 0;  
                    background-image: url("https://assets-global.website-files.com/613a0c11c446a15808e5db83/613a0c11c446a173ace5de05_Group%204789%20(4).png") ;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: top;
                    color: $text-color-inverse;
                    text-decoration: none;
                }
                &-container{
                    text-align: left;
                    position: relative;
                    top: 52%;
                    padding: 0 1rem;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                }
                &-subtitle{
                    color: $text-color;
                    border-radius: 8%;
                    font-weight: 200;
                    margin: 0;
                    padding: 0.5rem 0.5rem;
                    width: 6rem;
                    font-size: 0.85rem;
                    background-color: $inverse-button-color;
                }
                &-title{
                    margin: 0;
                    font-size: 1.5rem;
                }
            }
            &-secundary{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                &-link{
                    text-decoration: none;
                }
                &-link:hover > &-descriptions-container{
                    background-color: $text-color;
                    color: $text-color-inverse;
                    .resources__container-resources-secundary-descriptions{
                        color: $text-color-inverse;
                    }
                }
                &-info-img-container{
                    display: flex;
                    min-width: 200px;
                    margin: 0;
                }
                &-info-img{
                    width: 100%;
                }
                &-descriptions-container{
                    display: grid;
                    grid-template-columns: 5fr 1fr;
                    justify-content: space-between;
                    align-items: center;
                    padding: 1rem 1rem;
                    background-color: $backgorund-color;
                }
                &-descriptions{
                    color: $text-color;
                    margin: 0;
                    font-size: 1.2rem;
                }
                &-container-arrow{
                    display: flex;
                    margin: 0;
                    width: 1rem;
                    height: 1rem;
                    padding: 0.5rem 0.5rem;
                    background-color: $text-color-2;
                    border-radius: 50%;
                    overflow: hidden;
                }
                &-arrow{
                    width: 100%;
                } 
            }
        }
        &-blog{
            margin: auto;
            &-title{
                margin: 0;
                font-size: 1.5rem;
                font-weight: 400;
            }
            &-items{
                display: grid;
                grid-template-columns: 1fr;
                gap: 1.5rem;
                margin: 1.5rem auto;

            }
            &-items-link{
                text-decoration: none;
                color: $text-color;
                &-container-img{
                    display: flex;
                    max-width: 500px;
                    margin: 0;
                }
                &-img{
                    width: 100%;
                }
                &-about{
                    margin: 0.8rem 0;
                    font-weight: 400;
                }
                &-date{
                    margin: 0;
                    color: $text-color-1;
                    font-size: 0.8rem;
                    font-weight: 400;
                }
            }
        }
        &-more{
            display: flex;
            flex-direction: row;
            margin: auto;
            gap: 0.5rem;
            align-items: center;
            &-img-container{
                margin: 0;
                display: flex;
                width: 0.8rem;
                height: 0.8rem;
                padding: 0.5rem 0.5rem;
                border-radius: 50%;
                background-color: $text-color-2;
            }
            &-arrow{
                width: 100%;
            }
            &-title{
                margin: 0;
            }
        }
    }
}

.section-standard{
    &__container{
        display: flex;
        max-width: 1024px;
        min-height: 230px;
        text-align: center;
        padding: 2.5rem 2rem;
        margin: auto;
        align-items: center; 
        justify-content: center;

        background-image: url(https://assets-global.website-files.com/613a0c11c446a1558ce5db7e/613a0c11c446a1319ce5dc76_Call%20to%20action.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;

        &-title{
            display: flex;
            flex-direction: column;
            gap: 2.4rem;
            position: relative;
            &-input-button{
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                max-width: 60%;
                height: 7.5rem;
                margin: auto; 
            }
            &-input{
                text-align: center;
                height: 100%;
                font-size: 1rem;
                border: none;
            }
            &-button{
                background-color: $text-color;
                color: $text-color-inverse;
                border: none;
                height: 100%;
                font-size: 1rem;
            }
            &-button:focus{
                background-color: $inverse-button-color;
            }
        }
    }
    
    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__title{
        font-size: 1.8rem;
        font-weight: 700;
        margin: 0;
        
    }
}

