$text-color: black;
$text-color-1: rgba(0, 0, 0, 0.47);
$text-color-2: #dbfd51;
$text-color-inverse: white;
$border-color: #d4d4d4;
$inverse-button-color:#30e87a;
$backgorund-color:#f8f8f8;

body{
    margin: 0;
    font-family: Roobert, sans-serif;
}

.resources{
    max-width: 1024px;
    margin: auto;
    &__container-principal-info{}
    &__principal-title{
        background-color: $text-color-2;
        margin: auto;
        font-size: 0.85rem;
        text-align: center;
        width: 5rem;
        padding: 0.3rem 0.4rem;
        border-radius: 8%;
        font-weight: 400;
    }
    &__title{
        margin: 0;
        font-size: 2rem;
        text-align: center;
    }      
    &__subtitle{
        margin: 0;
        font-size: 1.4rem;
    }
    &__container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: 100%;
        margin: 3.5rem auto;
        padding: 0 2rem;
        
        &-resources{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin: auto;
            margin-bottom: 3rem;
            &-principal{
                margin: auto;
                display: flex;
                overflow: hidden;
                min-height: 365px;
                &-link{
                    width: 100%;
                    text-align: center;
                    margin: 0;  
                    background-image: url("https://assets-global.website-files.com/613a0c11c446a15808e5db83/613a0c11c446a173ace5de05_Group%204789%20(4).png") ;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: top;
                    color: $text-color-inverse;
                    text-decoration: none;
                }
                &-container{
                    text-align: left;
                    position: relative;
                    top: 52%;
                    padding: 0 1rem;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                }
                &-subtitle{
                    color: $text-color;
                    border-radius: 8%;
                    font-weight: 200;
                    margin: 0;
                    padding: 0.5rem 0.5rem;
                    width: 6rem;
                    font-size: 0.85rem;
                    background-color: $inverse-button-color;
                }
                &-title{
                    margin: 0;
                    font-size: 1.5rem;
                }
            }
            &-secundary{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                &-link{
                    text-decoration: none;
                }
                &-link:hover > &-descriptions-container{
                    background-color: $text-color;
                    color: $text-color-inverse;
                    .resources__container-resources-secundary-descriptions{
                        color: $text-color-inverse;
                    }
                }
                &-info-img-container{
                    display: flex;
                    min-width: 200px;
                    margin: 0;
                }
                &-info-img{
                    width: 100%;
                }
                &-descriptions-container{
                    display: grid;
                    grid-template-columns: 5fr 1fr;
                    justify-content: space-between;
                    align-items: center;
                    padding: 1rem 1rem;
                    background-color: $backgorund-color;
                }
                &-descriptions{
                    color: $text-color;
                    margin: 0;
                    font-size: 1.2rem;
                }
                &-container-arrow{
                    display: flex;
                    margin: 0;
                    width: 1rem;
                    height: 1rem;
                    padding: 0.5rem 0.5rem;
                    background-color: $text-color-2;
                    border-radius: 50%;
                    overflow: hidden;
                }
                &-arrow{
                    width: 100%;
                } 
            }
        }
        &-blog{
            margin: auto;
            &-title{
                margin: 0;
                font-size: 1.5rem;
                font-weight: 400;
            }
            &-items{
                display: grid;
                grid-template-columns: 1fr;
                gap: 1.5rem;
                margin: 1.5rem auto;

            }
            &-items-link{
                text-decoration: none;
                color: $text-color;
                &-container-img{
                    display: flex;
                    max-width: 500px;
                    margin: 0;
                }
                &-img{
                    width: 100%;
                }
                &-about{
                    margin: 0.8rem 0;
                    font-weight: 400;
                }
                &-date{
                    margin: 0;
                    color: $text-color-1;
                    font-size: 0.8rem;
                    font-weight: 400;
                }
            }
        }
        &-more{
            display: flex;
            flex-direction: row;
            margin: auto;
            gap: 0.5rem;
            align-items: center;
            &-img-container{
                margin: 0;
                display: flex;
                width: 0.8rem;
                height: 0.8rem;
                padding: 0.5rem 0.5rem;
                border-radius: 50%;
                background-color: $text-color-2;
            }
            &-arrow{
                width: 100%;
            }
            &-title{
                margin: 0;
            }
        }
    }
}

.section-standard{
    &__container{
        display: flex;
        max-width: 1024px;
        min-height: 230px;
        text-align: center;
        padding: 2.5rem 2rem;
        margin: auto;
        align-items: center; 
        justify-content: center;

        background-image: url(https://assets-global.website-files.com/613a0c11c446a1558ce5db7e/613a0c11c446a1319ce5dc76_Call%20to%20action.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;

        &-title{
            display: flex;
            flex-direction: column;
            gap: 2.4rem;
            position: relative;
            &-input-button{
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                max-width: 60%;
                height: 7.5rem;
                margin: auto; 
            }
            &-input{
                text-align: center;
                height: 100%;
                font-size: 1rem;
                border: none;
            }
            &-button{
                background-color: $text-color;
                color: $text-color-inverse;
                border: none;
                height: 100%;
                font-size: 1rem;
            }
            &-button:focus{
                background-color: $inverse-button-color;
            }
        }
    }
    
    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__title{
        font-size: 1.8rem;
        font-weight: 700;
        margin: 0;
        
    }
}


.footer{
    margin-top: 3rem;
    &__container{
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        color: $text-color;
        padding: 0 1.5rem; 
        max-width: 720px;
        margin: auto;
    }
    &__section-head{
        display: flex;
        gap: 0.5rem;
        flex-direction: column;

        &-head-copy{
            margin: 0;
            color: $text-color-1;
            &-logo-container{}
        }
    }
    &__section-logo{}
    &__section-nav{
        &-items{}
        &-list-container{
            padding: 0;       
        }
        &-list-title{
            margin: 0;
            font-weight: 400;
        }
        &-lista{
            gap: 2.7rem;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
        &-lits-title-container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer; 
        }
        &-sublist{
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            height: 0;
            padding-top: 1.5rem;
            overflow: hidden;
            cursor: none;
            &-item{}
        }
        &-list-container:hover > &-sublist{       
            height: auto;
            cursor: auto;
        }
    }
    &__section-nav-sublits-item-container{
        text-decoration: none;
        color: $text-color;
        list-style: none;
        cursor: pointer;
    }
    &__section-network-container{
        display: flex;
        gap: 0.5rem;
    }
    &__section-network-img{
        opacity: 0.4;
        &-container{}
    }
    &__section-network-img:hover{
        opacity: 1;
    }
    
    &__section-terms{
        display: flex;
        text-decoration: none;
        justify-content: space-between;
        align-items: flex-end;
        &-container{
            display: flex;
            flex-direction: row;
            gap: 1rem;
        }
        &-items{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            text-decoration: none;
            color: $text-color;
        }
    }
    &__section-updates{
        display: flex;
        flex-direction: column;
        margin: auto;
        &-about{
            font-size: 1.3rem;
            font-weight: bold;
        }

        &-form{
            display: flex;
            flex-direction: column;
            padding: 0.8rem;
            gap: 0.5rem;
            border: 0.01rem solid $border-color;
            height: 8.5rem;
            font-weight: 400;
            &-button{
                background-color: $text-color;
                color: $text-color-inverse;
                border: none;
                height: 100%;
                font-size: 1rem;
            }
            &-button:focus{
                background-color: $inverse-button-color;
            }
            &-input{
                text-align: center;
                height: 100%;
                border: 0.01rem solid $text-color;
                font-size: 1rem;
            }
        }
    }
    &__section-about{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        &-title{
            margin: 0;
            margin-top: -2.4rem;
            color: $text-color-1;
        }
        &-scroll-img-container{
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            text-decoration: none;
            justify-content: end;
            
        }
        &-scroll-img-about{
          color: $text-color-1;  
        }
        &-scroll-img{
            opacity: 0.4;
        }
        &-scroll-img-container:hover>&-scroll-img{
            opacity: 1;
        }
        &-scroll-img-container:hover>&-scroll-img-about{
            color: $text-color;
        }
    }
}

@media (min-width: 480px) {
    .resources{
        max-width: 1024px;
        &__container{
            padding: 0 3rem;
            &-resources{
                &-principal{
                    &-link{
                        background-position: bottom;
                        width: auto;
                        min-height: 26rem;
                    }
                    &-container{
                        top: 55%;
                        padding: 0 4rem;
                    }
                }
                &-secundary{
                    &-link{
                        display: grid;
                        grid-template-columns: 1fr 3fr;
                    }
                    &-info-img-container{
                       min-width: 130px;
                    }
                }
            }
            &-blog{
                &-title{}
                &-items{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }
                &-items-link{
                    display: grid;
                    grid-template-rows: 13rem 4rem 1rem;
                    &-container-img{
                        overflow: hidden;
                    }
                    &-img{
                        object-fit: cover;
                    }
                }
            }
        }
    }
    .section-standard{
        padding: 0 2rem;
        &__container{
            max-width: 720px;
            max-height: 265px;
            &-title{
                &-input-button{
                    display: flex;
                    flex-direction: row;
                    max-width: 100%;
                    height: 3rem;
                }
                &-input{
                    padding-right: 60px;
                }
                &-button{
                    padding: 0 1.5rem;
                }
            }   
        } 
        
        &__title{
            font-size: 2rem;
        }    
    }
    
    .footer{
        &__container{
            padding: 0 3rem;
        }
        &__section-updates{
            align-items: center;
            &-form{
                flex-direction: row;
                justify-content: space-between;
                height: 3.5rem;
                &-button{
                    width: 28%;
                }
                &-input{
                    border: none;
                }
            
            }
        }
        &__section-nav{
            &-lista{
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
            &-lits-title-container{
                cursor: auto; 
            }
            &-sublist{
                height: auto;
                cursor: pointer;
            }
        }
        .fas{
            display: none;
        }
        &__section-about{
            padding-top: 0.8rem;
        }
    }
    .svg{
        margin-bottom: 1.5rem;
    }
}

@media (min-width: 990px) {

    .resources{
        max-width: 1200px;
        &__title{
            font-size: 3rem;
        }
        &__principal-title{
            font-size: 1rem;
            width: 8rem;
        }    
        &__subtitle{
            margin: 0;
            font-size: 1.5rem;
            font-weight: 400;
        }
        &__container{
            padding: 0;
            &-resources{
                display: grid;
                grid-template-columns: 2fr 1fr;
                grid-auto-rows: 180px;
                row-gap: 0;
                &-principal{
                    min-height: 32.5rem;
                    &-link{
                        min-height: auto;
                    }
                    &-container{
                        top: 50%;
                        gap: 1.5rem;
                    }
                    &-subtitle{
                        padding: 0.5rem 0.5rem;
                        width: 10rem;
                        font-size: 1.2rem;
                    }
                    &-title{
                        font-size: 2.1rem;
                    }
                }
                &-secundary{
                    justify-content: center;
                    &-info-img-container{
                        min-width: 160px;
                    }
                }
                &-principal:nth-child(1) {
                    grid-column: span 1;
                    grid-row: span 3;
                }
                &-secundary:nth-child(2) {
                    grid-row: span 1;
                }
                &-secundary:nth-child(3) {
                    grid-row: span 1;
                }
                &-secundary:nth-child(4) {
                    grid-row: span 1;
                }
            }
            &-blog{
                &-title{}
                &-items{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                }
                &-items-link{
                    display: grid;
                    grid-template-rows: 12rem 5.2rem 1rem;
                    &-container-img{
                        overflow: hidden;
                    }
                    &-img{
                        object-fit: cover;
                    }
                }
            }
        }
    }
    .section-standard{
        &__container{
            max-width: 1200px;
            min-height: 600px;
            &-title{
                max-width: 600px;
                &-input-button{
                    display: flex;
                    flex-direction: row;
                    max-width: 100%;
                    height: 3rem;
                }
                &-input{
                    padding-right: 170px;
                }
                &-button{
                    padding: 0 1.5rem;
                }
            }  
            
        } 
        &__title{
            font-size: 3rem;
            font-weight: 700;
            margin: 0;
        }  
    }   
    .footer{
        &__container{
            max-width: 1200px;
            padding: 0rem 2rem;
        }
        &__section-updates{
            display: flex;
            flex-direction: row;
            
            &-about{
                font-size: 2rem;
            }
            &-form{
                width: 100%;                
            }
        }
        &__section-nav{
            &-lista{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                
            }
        }  
        
    }
}
